.title {
    font-family: "Syne";
    font-weight: 600;
    font-size: 2.5rem;
    color: white;
    opacity: 87%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card {
    border-radius: 5px;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.05);
}

.tag-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: 4px 8px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-right: 3%;
    margin-top: 0;
    opacity: 87%;
}

.card-image {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    height: 215px;
    opacity: 100%;
}

.card-content {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.app {
    background-color: #121212;
}

body {
    background-color: #121212;
    color: white;
}

body p {
    opacity: 87%;
}

.subtitle {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
    margin: auto;
    display: block;
    text-align: left;
    opacity: 60%;
}

.anchor {
    position: absolute;
    top: -150px;
    left: 0px;
}