.main-text {
    font-family: "Syne";
    font-weight: 700;
    font-size: 5rem;
    color: white; 
}

.detail-text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}

.nav-link {
    font-family: "Inter";
    font-weight: 700;
    color: white;
    text-decoration: underline;
}