.container {
    margin-top: 25%;
    margin-bottom: 25%;
    display: inline-block;
}

/* @media screen and (max-width:600px) {
    .container {
        width: 75%;
        margin-left: 5%;
        margin-right: 5%;
    }
} */

.main-text {
    font-family: "Syne";
    font-weight: 700;
    font-size: 5rem;
    color: white; 
    opacity: 87%;
}

.detail-text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
    margin: 0;
    text-align: center;
    opacity: 60%;
}

.my-name {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
    margin: auto;
    display: block;
    text-align: left;
    opacity: 60%;
}

.nav-link {
    font-family: "Inter";
    font-weight: 600;
    color: white;
    text-decoration: underline;
    display: block;
    text-align: center; 
    font-size: 1.25rem;
    opacity: 60%;
    margin-top: 15px;
}