.main-text {
    font-family: "Syne";
    font-weight: 700;
    font-size: 5rem;
    color: black; 
}

.detail-text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
}

.nav-link {
    font-family: "Inter";
    font-weight: 700;
    color: black;
    text-decoration: underline;
}