.main {
    margin: auto;
    max-width: 100%;
    font-family: "Inter";
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

@media screen and (max-width: 600px) {
    .main {
        width: 90%;
        margin: auto;
    }
    /* #menu {
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        overflow: hidden;
    }
    #menu-bkg {
        width: 50px;
        z-index: 0;
    }
    .nav-links {
        float: none;
        display: block;
        text-align: left;
    } */
}

#menu {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.07);
    top: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    z-index: 2;
}

#menu-bkg {
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    z-index: 1;
    height: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    float: right;
    margin-right: 5%;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: white;
    font-family: "Inter";
    opacity: 60%;
}

.nav-link-text:hover {
    color: #9c27b0;
    opacity: 87%;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}


