.github-button {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #9c27b0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-right: 3%;
    margin-top: 0;
}

.demo-button {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #9c27b0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-right: 3%;
    margin-top: 0;
}

.site-button {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #9c27b0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-right: 3%;
    margin-top: 0;
}

.description {
    opacity: 60%;
}

/* @media screen and (max-width: 600px) {
    div {
        width: 100%;
        margin: auto;
    }
} */