.title {
    font-family: "Syne";
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
}

.container {
    display: flex;
    margin-bottom: 10vh;
}

.image {
    object-fit: contain;
    width: 30%;
    margin-left: 10%;
    border-radius: 5px;
    
}

.body {
    width: 50%;
    color: white;
}